:root {
    --fond: #F6F9FC;            /* Soft Light Blue */
    --textColor: #2B2D42;       /* Charcoal Gray */
    --accentColor: #DDA0DD;     /* Vibrant Lavender */
    --secondColor: #8D99AE;     /* Muted Steel Blue */
    --buttonColor: #FF6F61;     /* Coral Pink */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--fond);
    color: var(--textColor);
}

h1 {
    position: relative;
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.2;
}

h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1.1s ease forwards;
    animation-delay: .9s;
    background-color: var(--fond);
}

h3 {
    position: relative;
    font-size: 1.8vw;
    font-weight: 700;
    color: var(--accentColor);
}

h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 0.8s ease forwards;
    animation-delay: 1.2s;
    background-color: var(--fond);
}

h4 {
    color: var(--secondColor);
    font-size: 1.1vw;
    position: relative;
}

p, ul {
    position: relative;
    font-size: 1.1vw;
    margin: 2vw 0 2vw;
}

ul {
    padding-left: 30px;
}

p::before, li::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 0.8s ease forwards;
    animation-delay: 1.8s;
    background-color: var(--fond);
}

.header {
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 6vw;
    background: var(--fond);
}

.logo {
    position: relative;
    font-size: 1.9vw ;
    color: var(--textColor) ;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 0.9s ease forwards;
    animation-delay: .3s;
    background-color: var(--fond);
}

.navbar {
    display: flex;
    align-items: center; /* This makes sure nav items are vertically aligned */
}

.navbar a {
    font-size: 1.05vw ;
    color: var(--textColor) ;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.1vw;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--buttonColor) ;
    font-size: 1.1vw ;
}

.home {
    height: 100vh;
    display: flex;
    padding: 0 10%;
    padding-top: 15vw; 
}

.presentation, .snapshot {
    max-width: 45vw;
}

/* .part2 {
    display: flex;
    justify-content: space-around;
} */

/* .part2 h4::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 0.6s ease forwards;
    animation-delay: 1.5s;
    background-color: var(--fond);
} */

.social-media {
    position: relative;
    margin-bottom: 2vw;
}

.social-media a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    background: transparent;
    border: 2px solid var(--buttonColor);
    border-radius: 50%;
    font-size: 1.5vw;
    text-decoration: none;
    color: var(--buttonColor);
    overflow: hidden;
    margin-right: 2vw;
}

.social-media a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--buttonColor);
    z-index: -1;
    transition: .5s;
}

.social-media a:hover::before {
    width: 100%;
    box-shadow: 0 0 1vw var(--fond);
}

.social-media a:hover {
    color: var(--fond);
    box-shadow: 0 0 1vw var(--fond);
}

.btn-box {
    display: flex;
    flex-direction:row;  
    justify-content: space-between;
    width: 25vw;
    height: 50px;
    
}

/* .btn-box {
    display: flex;
    flex-direction: column;  
    justify-content: space-evenly; 
    align-items: center;   
    width: 40vw;
    height:30vw
} */

.btn-box a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.3vw;
    height: 3.2vw;
    background: var(--buttonColor);
    border: 2px solid var(--buttonColor);
    border-radius: 8px;
    font-size: 1.2vw;
    color: var(--fond);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    right:0;
    margin:0px;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: var(--buttonColor);
}

.btn-box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--fond);
    z-index: -1;
    transition: .5s;
}

.btn-box a:nth-child(2)::before {
    background-color: var(--buttonColor);
}

.btn-box a:hover::before {
    width: 100%;
}

.btn-box a:hover {
    color: var(--buttonColor)
}

.btn-box a:nth-child(2):hover {
    color: var(--fond);
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

@media (max-width: 1000px) {
    .presentation, .snapshot {
        max-width: 100%; 
        width: 100%; 
    }
    p {
        font-size: 1.5vw;
    }
    h1 {
        font-size: 6vw;
    }
    h3 {
        font-size: 2.5vw;
    }
    .header {
        /* align-items: center;  */
        height: 15vw;
    }
    .navbar a {
        font-size: 1.5vw; 
        margin-left: 3vw;
    }
    .navbar a:hover,
    .navbar a.active{
        color: var(--buttonColor) ;
        font-size: 1.55vw ;
    }
    .logo{
        font-size: 2.6vw;
    }
    .home {
        padding-top: 25vw; 
        margin-bottom: 5vw;
    }
}